#root {
  /* max-width: 1280px; */
  margin: 0 ;
  /* padding: 2rem; */
  text-align: center;
  width:100%;
  align-items: center;
}

.ChatRoom {
  will-change: filter;
  transition: filter 300ms;
}
.ChatRoom:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


